<div class='article'>
          <h2>Solbyn - ekobyn i Dalby</h2>
          <p style="text-align: justify; padding: 0 90px 0 20px;">I norra kanten av Dalby - precis innan Skrylle-området tar sin början - ligger vår bostadsrättsförening: Solbyn. Vi är en liten HSB-förening på 50 lägenheter fördelat på 20 st 2:or och 10 st av vardera 3:or, 4:or och 5:or.
            Vi som bor här strävar att leva efter en långsiktig miljö- och energimässigt samt ekonomiskt hållbar strategi. Vi ser den sociala kontakten som en viktig del i vårt boende och att delta i aktiviteter och arbeta i olika grupper är en naturlig del av att bo i Solbyn.
            Vi är i stora delar självförvaltande (med stöd från HSB) vilket innebär att vi fyller administrativa funktioner efter egen förmåga.
            Till bostadsrättsföreningen hör ett odlingsområde där vi som bor i Solbyn får tillgång till att odla vår egen mat. Det finns även andra initiativ till odling som gemensamhetsodling och skogsträdgårdsodling.
          </p>
        </div>