<div class='article'>
  <h2>Kontakter</h2>
  <p>För att komma i kontakt med olika funktioner i Solbyn - se mailadresserna nedan</p>
  <h3>Generella frågor</h3>
  <p>Har du frågor om lägenheterna, studiebesök, odling eller något annat - maila till <a href="mailto:info@solbyn.org">info@solbyn.org</a></p>
  <h3>Styrelse</h3>
  <p>
    Lotta Nyholm, ordförande<br>
    Jean-Marie Moreau, biträdande ordförande<br>
    Bengt Andersson<br>
    Pia Tallving<br>
    Lina Martins von Friesen<br>
    Marc Puig von Friesen<br>
    Marie-Louise Guedj<br>
    Camilla Bjelk, HSB:s representant<br>
  </p>
  <p>Vill du komma i kontakt med styrelsen - maila till <a href="mailto:styrelsen@solbyn.org">styrelsen@solbyn.org</a></p>
  <h3>Vicevärd</h3>
  <p>
    Sven-Bertil Persson, <a href="mailto:vicevard@solbyn.org">vicevard@solbyn.org</a>
  </p>
  <h3>Solbybladet</h3>
  <p>
    Ingvar Nilsson, <a href="mailto:solbybladet@solbyn.org">solbybladet@solbyn.org</a>
  </p>
  <h3>Hemsidan</h3>
  <p>
    Ola L Martins, <a href="mailto:webmaster@solbyn.org">webmaster@solbyn.org</a>
  </p>
</div>