<div class="article">
    <h2>Lägenheterna</h2>
    <p>Ritningarna är inte exakta eller skalenliga</p>
    <div class="flatcontainer">
        <div>
            <span style="display: block; width: 50%; float: left;">2:an 54m²</span>
            <span style="display: block; width: 50%; float: left;">3:an 72m²</span>
        </div>
        <div class="imgcontainer" style="float:left; width: 50%;">
            <img src="../images/flats/2.png" style="width: 300px;"/>
        </div>
        <div class="imgcontainer" style="float:left; width: 50%;">
            <img src="../images/flats/3.png" style="width: 300px;"/>
        </div>
    </div>
    <div class="flatcontainer">
        <div>
            <span style="display: block; width: 100%; float: left;">4:an 91m²</span>
        </div>
        <div class="imgcontainer" style="float:left;">
            <img src="../images/flats/4.png" style="width: 300px;"/>
        </div>
    </div>
    <div class="flatcontainer" style="clear: both;">
        <div>
            <span style="display: block; width: 50%; float: left;">5:an 112m² - Bottenvåning</span>
            <span style="display: block; width: 50%; float: left;">Ovanvåning</span>
        </div>
        <div class="imgcontainer" style="float:left; width: 50%;">
            <img src="../images/flats/5-1.png" style="width: 300px;" />
        </div>
        <div class="imgcontainer" style="float:left; width: 50%;">
            <img src="../images/flats/5-2.png" style="width: 300px;"/>
        </div>
    </div>
</div>
