        <div class="article">
          <h2>Historik - av Åke Stenram</h2>
          <p style="text-align: justify; padding: 0 90px 0 20px;">I mitten av 70-talet var det många av dem som åt lunch på Vänskapens Hus i Lund som var intresserade av miljöfrågor. Rachel Carsons bok ”Tyst Vår” hade kommit och i Sverige hade vi Georg Borgström som varnade för kommande miljöförstöring. Tanken  att skapa och bo i en ekologisk by växte fram.

Den 15 oktober 1978 samlades 16 intresserade hos Elsie Karlsson på Långgatan 17 i Dalby. Man beslöt arbeta vidare på idén. Vi fick redan 1979 kontakt med arkitekt Krister Wiberg på LTH. Han var villig att hjälpa oss.

Det fanns tre olika intressen i gruppen. Några ville skapa ett kollektivhus i Lund med odlingslotter, andra en Villaby på Österlen vid en ekologisk gård. Den största gruppen ville bo i någon av Lunds förorter för att lätt kunna komma till arbete i Malmö och Lund.

Vi tog kontakt med fastighets- och byggnadskontoren i Lund. De sa att vi måste bilda en förening så att de hade en juridisk person som motpart. Vi bildade därför den idéella föreningen Solbyn. Vi träffades under planeringstiden ungefär var 6:e vecka på Vänskapens Hus och bildade arbetsgrupper med olika uppgifter som mark- och lägenhetsplanering, myndighetskontakter osv.

Vi diskuterade mycket vilken upplåtelseform vi skulle ha: enskilt ägande, hyresrätt eller bostadsrätt och kom fram till det senare. Vi tog då kontakt med HSB i Lund, där man var tveksam att ta på sig något så helt nytt. Vi åkte då in till huvudkontoret i Malmö, där den nye, unge direktören tyckte att det kunde vara bra för HSB att visa initiativ på miljöområde.

Med myndigheterna gick vi igenom lämpliga områden i Veberöd, Genarp, Dalby och Södra Sandby. Där fanns och finns dock en kraftledning intill så vi avböjde. Rökepipan norr om vägen till Hällestad i Dalby var länge aktuell men kom ej med i stadsplaneringen. Den slutliga tomten var ej avsedd för bostäder varför stadsplanen fick ändras.

Institutionen för Tvärvetenskap i Göteborg utarbetade en bok Välsviken med idéer om hur en ekologisk bebyggelse kunde göras med bl.a. eget omhändertagande av smutsvatten. Detta gick myndigheterna i Lund ej med på, trots att det fanns lämpligt markområde nedanför.

Vi skulle ha mulltoaletter, jordkällare, ett odlingsområde, låg belysning så man kan se stjärnorna, alla träd och buskar skulle ha ätlig frukt samt ett gemensamt hus med bl.a. ett dagis. Det skulle vara en by där man kunde födas, leva och dö.

Planeringen tog lång tid eftersom kontoren i Lund ej hade kännedom om ekologiskt byggande. Vi hade intrycket att man lade vår ansökan under i högen. Vi uppvaktade då kommunalrådet som hade hand om byggande. Han blev mycket intresserad och tog upp frågan i kommunfullmäktige. Där beslöts att projektet skulle få ett ”välvilligt bemötande”.

Då det visade sig att byggandet skulle bli dyrare än vanligt begärdes att lånetaket skulle höjas. Det vågade länsbostadsnämnden ej besluta utan hänsköt frågan till Stockholm. Dit fick arkitekten och HSB-direktören resa för att presentera ärendet. Bara denna fråga tog ett år att lösa.

Vi hade hela tiden en intresserad men varierad grupp om 30 hushåll. Genom kontakt med institutionen för Humanekologi ville vi få reda på hur stor grupp vi borde bli för att vi någorlunda skulle kunna känna till varandra utan att vara så få att den  sociala kontrollen blev för stor. 30-50 hushåll ansågs det. För att få rimlig ekonomi på det hela ville HSB bygga 50 lägenheter.

Under anbudstiden fick vi pruta på en del önskemål bl.a. att terrassera området. Stödmurarna skulle bli alltför dyra. Kullenberg fick anbud, Bengt Persson markplaneringen. En spännande tid inleddes med uppföljning av detaljritningar och byggnation.

Efter 1 års byggtid blev det inflyttning nov 87 – mars 88 med början högst upp. Solbyn blev den andra ekobyn i landet men var länge den största. Tuggelite utanför Karlstad var först men bara hälften så stor.
          </p>
        </div>
