<div class="article">
    <h2>Solbyn - en dröm går i uppfyllelse</h2>
    <p>I mitten på 1970-talet började ett matlag på Vänskapens Hus i Lund att drömma om en ekoby.
    Drömmarna och tankarna blev till konkreta idéer och planer som resulterade i en ekoby i norra Dalby - alldeles i kanten på Skrylle.</p>
    <p>Välkommen att klicka runt - sidan är under uppbyggnad så fler länkar kommer att tillkomma</p>
</div>
<div class="article">
    <iframe
    width="650"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyALI0Yc_hxa8eO_v1GPonIKHdTvzbFqO6Y&q=Solbyn+Sandbyvägen, Dalby, SE&zoom=11" allowfullscreen>
    </iframe>
</div>
